<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/scripts/jquery.min.js}"></script>
<script th:src="@{/scripts/bootstrap.min.js}"></script>
<script th:src="@{/scripts/prize.js}"></script>
<title></title>


</head>


<body>

    <div  class="container">
    	
    	<form id="mainPrize" action="#" th:action="@{/mainService/doRandomWinner}"  method="post">
    	<div>
    		<div>剩餘 [[${currentPeople}]] 人</div>
    		<input type="hidden" name="currentPeople" th:value="${currentPeople}" ></input>
    	</div>
		  <div>
    		<div>[[${totalPrize}]]等獎</div>
    		<input type="hidden" name="prizeName" th:value="${totalPrize}" ></input>
    	</div>
    	<div>
    		<div>人數</div>
    		<input name="prizePeople" id="prizePeople"></input>
    	</div>
    	<div>
    		<input type="submit" value="抽獎" onclick="return checkPeople()">
    	</div>
		  
		</form>
    	
    	

    </div>
    
    
    
</body>

<script th:inline="javascript">

   function checkPeople(){
	   var prizePeople = $("#prizePeople").val();
	   var currentPeople = [[${currentPeople}]]
	   if(prizePeople>currentPeople){
		   alert("輸入人數過多")
		   return false;
	   }
	   
	   
	   return true; 
   }

</script>
</html>